.ngl-metadata {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

.ngl-metadata > div {
	display: inline-block;
}

.ngl-metadata > div {
	padding: 0 2px;
}

.ngl-metadata .ngl-metadata-sep {
	text-align: center;
	width: 14px;
	color: #aaa;
}

.ngl-metadata-map-pin {
	width: 12px;
	display: inline-block;
	margin: 0 2px !important;
}

.ngl-metadata-permalink-arrow {
	width: 10px;
	display: inline-block;
	margin: 0 0 0 4px !important;
}

.ngl-metadata-permalink {
	text-decoration: underline !important;
	cursor: pointer;
}