div.editor-styles-wrapper {
	background: #fff !important;
	background-color: #fff !important;
	max-width: 600px;
	padding: 1px 0 0 !important;
	margin: auto;
	box-shadow: none !important;
}

.block-editor-writing-flow {
	padding: 20px 0;
}

.editor-styles-wrapper .wp-block.editor-post-title__block {
	padding-bottom: 0;
	margin: 0;
}

.edit-post-layout .interface-interface-skeleton__content {
	background: #fff;
}

.block-editor-inserter__panel-content {
	padding: 0 10px;
}

.editor-styles-wrapper .editor-post-title__block .editor-post-title__input {
	text-align: left;
}

div.editor-styles-wrapper .wp-block,
div.editor-styles-wrapper div.wp-block.editor-post-title__block {
	margin-left: 20px;
	margin-right: 20px;
}

div.editor-styles-wrapper .wp-block.wp-block-separator,
div.editor-styles-wrapper .wp-block.wp-block-spacer,
div.editor-styles-wrapper .wp-block .wp-block {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

div.editor-styles-wrapper .wp-block[data-type="newsletterglue/callout"] {
	margin-left: 0;
	margin-right: 0;
}

div.editor-styles-wrapper .wp-block[data-type="newsletterglue/callout"] .block-editor-block-list__layout > .wp-block {
	padding-bottom: 10px !important;
}

div.editor-styles-wrapper .wp-block[data-type="newsletterglue/callout"] .block-editor-block-list__layout > .wp-block[data-type="core/separator"],
div.editor-styles-wrapper .wp-block[data-type="newsletterglue/callout"] .block-editor-block-list__layout > .wp-block:last-child {
	padding-bottom: 0 !important;
}

body.post-type-newsletterglue div.edit-post-visual-editor__post-title-wrapper {
	/*position: absolute;*/
	/*top: -100000px;*/
	/*left: -100000px;*/
}

div.editor-styles-wrapper [data-block] {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

div.editor-styles-wrapper .is-root-container p.wp-block[data-block] {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

div.editor-styles-wrapper .is-root-container p.wp-block.has-background[data-block] {
	margin: 10px 0 !important;
}

div.editor-styles-wrapper .is-root-container > .wp-block-buttons {
	padding: 10px 0 !important;
}

div.editor-styles-wrapper .is-root-container > .wp-block-image {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.wp-block:not([data-type="core/paragraph"]):not(.block-list-appender):not(.block-editor-default-block-appender):not(.editor-post-title):hover::before,
.wp-block-group:hover::before {
	content: '';
	width: 100%;
	height: 100%;
	pointer-events: none;
	border: 1px dashed #aaa;
	position: absolute;
	top: 0;
	left: 0;
}

div.block-editor-block-list__block[data-type="core/spacer"]::before {
	display: none;
}

.wp-block-spacer .block-library-spacer__resize-container {
	margin-bottom: 0 !important;
}

div.block-editor-block-list__block[data-type="core/spacer"]:hover::before {
	content: '';
	width: 100%;
	height: 100%;
	pointer-events: none;
	border: 1px dashed #aaa;
	position: absolute;
	top: 0;
	left: 0;
	transform: none;
	display: block;
}

.wp-block:not([data-type="core/paragraph"]):not(.block-list-appender):not(.block-editor-default-block-appender):not(.editor-post-title):hover::after,
.wp-block-group:hover::after {
	content: attr(data-title);
	position: absolute;
	top: -20px;
	left: unset;
	right: 0;
	padding: 0 8px;
	font-size: 11px;
	background: #404040;
	color: #fff;
	display: inline-block;
	height: 20px;
	z-index: 999999999;
}

.block-editor-writing-flow .ngl-tag {
	background: #f9f9f9;
    border-radius: 3px;
    padding: 4px;
    font-size: 0.9em;
}

div.wp-block[data-type="newsletterglue/share-link"]::before,
div.wp-block[data-type="newsletterglue/share-link"]::after {
	display: none !important;
}

hr.wp-block-separator {
	width: 100%;
	max-width: 100% !important;
	opacity: 1 !important;
}

div.editor-styles-wrapper .is-root-container hr.wp-block.wp-block-separator {
	height: 1px !important;
}

div.editor-styles-wrapper .is-root-container > hr.wp-block.wp-block-separator {
	margin: 20px !important;
	width: auto !important;
	height: 1px !important;
}

div.editor-styles-wrapper .is-root-container > hr.wp-block.wp-block-separator.is-short {
	width: 50px !important;
}

div.editor-styles-wrapper .is-root-container hr.wp-block.wp-block-separator.is-style-twentytwentyone-separator-thick {
	height: 3px !important;
}

/* Reset patterns UI */
.ngl-pattern-reset {
	display: none;
	margin: 20px 0 40px;
}

a.ngl-pattern-reset-toggle {
	text-decoration: none;
	font-size: 1.1em;
	box-shadow: none !important;
}

.ngl-pattern-reset-ui {
	margin: 10px 0 0;
	display: none;
}