.editor-styles-wrapper {
	background: #fff;
	max-width: 600px;
	padding: 20px !important;
	margin: auto;
}

.block-editor-inserter__tips,
.block-editor-post-preview__dropdown,
.edit-post-header-toolbar__left > div,
.editor-history__undo,
.editor-history__redo {
	display: none !important;
}

.edit-post-layout .interface-interface-skeleton__content {
	background: #fff;
}

.block-editor-inserter__panel-content {
	padding: 0 10px;
}

.wp-block.editor-post-title__block {
	margin: 0;
}

.editor-styles-wrapper .editor-post-title__block .editor-post-title__input {
	text-align: left;
}