.editor-styles-wrapper {
	background: #fff;
	background-color: #fff;
	max-width: 600px;
	padding: 30px 0 !important;
	margin: auto;
}

.editor-styles-wrapper .wp-block.editor-post-title__block {
	padding-bottom: 0;
	margin: 0;
}

.block-editor-inserter__tips,
.block-editor-post-preview__dropdown,
.edit-post-header-toolbar__left > div,
.editor-history__undo,
.editor-history__redo {
	display: none !important;
}

.edit-post-layout .interface-interface-skeleton__content {
	background: #fff;
}

.block-editor-inserter__panel-content {
	padding: 0 10px;
}

.editor-styles-wrapper .editor-post-title__block .editor-post-title__input {
	text-align: left;
}

div.editor-styles-wrapper .wp-block,
div.editor-styles-wrapper div.wp-block.editor-post-title__block {
	margin-left: 20px;
	margin-right: 20px;
}

div.editor-styles-wrapper .wp-block[data-type="newsletterglue/callout"] {
	margin-left: 0;
	margin-right: 0;
}