/* Menu Icon */
.toplevel_page_newsletter-glue div.dashicons-admin-generic:before {
	content: '';
	background-image: url(../images/menu.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
	width: 20px;
	height: 34px;
	padding: 0;
}

/* Posts table */
th.column-ngl_status,
td.ngl_status {
	text-align: center !important;
}

td.ngl_status .ngl-state {
	display: block;
	line-height: 1.5;
}

td.ngl_status span {
	font-size: 13px;
	font-weight: 400;
	color: #777;
}

td.ngl_status span a {
	color: #666;
	text-decoration: underline;
	box-shadow: none !important;
}

td.ngl_status span a:hover {
	color: #444;
}

td.ngl_status span.ngl-success {
	color: #00A332;
}

td.ngl_status span.ngl-error {
	color: #EF0000;
}

td.ngl_status span.ngl-error a {
	color: #EF0000;
	text-decoration: underline;
	box-shadow: none !important;
}

td.ngl_status span.ngl-error a:hover {
	color: #bb0000;
}

td.ngl_status {
	width: 200px;
}

td.ngl_datetime {
	width: 150px;
}

.ngl-modal table td {
	vertical-align: middle;
}

/* WP core */
.ngl-newsletter-errors {
	color: #444;
    font-weight: 400;
    font-size: 12px;
    display: inline-block;
    margin-right: 12px;
    background: #FFEAEB;
    border: 1px solid #EF0000;
    border-radius: 999px;
    padding: 4px 14px;
}

.ngl-newsletter-errors a {
	color: #444;
	text-decoration: underline;
	box-shadow: none !important;
}

.ngl-newsletter-errors a:hover {
	color: #222;
}

/* Modal */
.ngl-modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba( 0, 0, 0, 0.6 );
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999999999;
}

.ngl-modal-overlay.off {
	opacity: 0;
	pointer-events: none;
}

.ngl-modal {
	width: 100%;
	max-width: 750px;
	min-height: 200px;
	box-shadow: 0 2px 10px #353535;
	background: #fff;
	position: relative;
}

.ngl-modal-close {
	position: absolute;
	top: 5px;
	right: 5px;
	text-decoration: none;
	box-shadow: none !important;
	padding: 8px;
	font-size: 24px;
}

.ngl-modal-close .dashicons {
	font-size: 24px;
	height: 24px;
	width: 24px;
}

.ngl-modal-content {
	padding: 50px;
}

.ngl-modal-title {
	padding: 0 0 30px;
	font-size: 1.8em;
	font-weight: 500;
}