/* Posts table */
th.column-ngl_status,
td.ngl_status {
	text-align: center !important;
}

td.ngl_status .ngl-state {
	display: block;
	line-height: 1.5;
}

td.ngl_status span {
	font-size: 13px;
	font-weight: 400;
	color: #777;
}

td.ngl_status span a {
	color: #666;
	text-decoration: underline;
	box-shadow: none !important;
}

td.ngl_status span a:hover {
	color: #444;
}

td.ngl_status span.ngl-success {
	color: #00A332;
}

td.ngl_status span.ngl-error {
	color: #EF0000;
}

td.ngl_status span.ngl-error a {
	color: #EF0000;
	text-decoration: underline;
	box-shadow: none !important;
}

td.ngl_status span.ngl-error a:hover {
	color: #bb0000;
}

td.ngl_status {
	width: 200px;
}

td.ngl_datetime {
	width: 150px;
}

.ngl-modal table td {
	vertical-align: middle;
}

/* WP core */
.ngl-newsletter-errors {
	color: #444;
    font-weight: 400;
    font-size: 12px;
    display: inline-block;
    margin-right: 12px;
    background: #FFEAEB;
    border: 1px solid #EF0000;
    border-radius: 999px;
    padding: 4px 14px;
}

.ngl-newsletter-errors a {
	color: #444;
	text-decoration: underline;
	box-shadow: none !important;
}

.ngl-newsletter-errors a:hover {
	color: #222;
}

/* Modal */
table.ngl-table-log {
	border: none;
}

.ngl-modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba( 0, 0, 0, 0.6 );
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999999999;
	transition: all .125s ease-in-out;
}

.ngl-modal-loader {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ngl-loading {
    display: block;
    width: 40px;
    height: 40px;
    border: 3px solid rgb(234 234 234);
    border-radius: 50%;
    border-top-color: #8c8c8c;
	animation: ngl_spin_infinite 1s linear infinite; */
    -webkit-animation: spin 1s linear infinite;
}

@keyframes ngl_spin_infinite {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes ngl_spin_infinite {
  to { -webkit-transform: rotate(360deg); }
}

.ngl-modal-overlay.off {
	opacity: 0;
	pointer-events: none;
}

.ngl-modal {
	box-shadow: 0 2px 10px #353535;
	background: #fff;
	position: relative;
	width: 100%;
	max-width: 750px;
	min-height: 200px;
	max-height: 80%;
    overflow: auto;
	border-radius: 8px;
}

.ngl-modal-overlay.onboarding .ngl-modal {
	max-height: 100%;
	overflow: visible;
}

.ngl-modal-close {
	position: absolute;
	top: 6px;
	right: 10px;
	text-decoration: none;
	box-shadow: none !important;
	padding: 8px;
	font-size: 28px;
	color: #555 !important;
}

.ngl-modal-close .dashicons {
	font-size: 28px;
	height: 28px;
	width: 28px;
}

.ngl-modal-content {
	padding: 30px;
}

.ngl-modal-title {
	padding: 0 0 30px;
	font-size: 1.8em;
	font-weight: 500;
}

.ngl-modal-title a {
	color: #0D566C !important;
	text-decoration: none !important;
	box-shadow: none !important;
}

.ngl-modal-title a:hover {
	color: #0088A0 !important;
}

.ngl-notice.welcome {
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
	border-color: #0088A0;
	padding: 12px 20px;
}

p.ngl-notice-logo {
	background: url(../images/menu.png) no-repeat left 2px;
	background-size: 20px 20px;
	padding-left: 28px;
}

/* Upgrade notice */
.ngl-upgrade-notice {
	background: transparent;
	border: none;
	background: #fff url( ../images/menu.png ) no-repeat 20px 20px;
	background-size: 32px 32px;
	padding: 0 70px 20px 70px;
	max-width: 750px;
	border-radius: 4px;
	box-shadow: 0 2px 6px #ddd;
	position: relative;
}

.ngl-upgrade-notice * {
	font-size: 14px;
}

.ngl-upgrade-notice h4 {
	margin: 0 0 14px 0;
	font-weight: bold;
	font-size: 17px;
	padding-top: 22px;
}

.ngl-upgrade-notice strong {
	font-weight: bold;
}

.ngl-upgrade-notice p a {
	color: #17A4C6 !important;
	box-shadow: none !important;
}

.ngl-upgrade-notice p a:hover {
	color: #0088A0 !important;
}

.ngl-upgrade-notice p a.ngl-upgrade-dismiss {
	margin-left: 60px;
	color: #555 !important;
	font-weight: bold;
	text-decoration: none !important;
}

.ngl-upgrade-notice p a.ngl-upgrade-dismiss:hover {
	text-decoration: underline !important;
}

.ngl-notice-dismiss {
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none !important;
	box-shadow: none !important;
	padding: 15px;
	color: #666 !important;
}

.ngl-notice-dismiss i {
	font-size: 22px !important;
}

/* Gutenberg pop */
.ngl-gutenberg-pop {
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	width: 240px;
	background: #fff;
	border: 1px solid #1e1e1e;
	box-sizing: border-box;
	display: none;
	opacity: 0;
	pointer-events: none;
    animation: components-animate__appear-animation 0.1s cubic-bezier(0, 0, 0.2, 1) 0s;
    animation-fill-mode: forwards;
	transform-origin: top left;
}

.ngl-gutenberg-pop.is-open {
	display: block;
	opacity: 1;
	pointer-events: auto;
}

.ngl-gutenberg-pop .components-menu-group {
	padding: 12px;
	margin: 0;
}

.ngl-gutenberg-icon {
    display: none;
    width: 32px;
    height: 32px;
    margin-right: -4px;
    align-items: center;
    justify-content: center;
}

.ngl-gutenberg-icon .components-menu-items__item-icon {
	margin: 0 !important;
}

.ngl-gutenberg-pop .components-button:hover .ngl-gutenberg-icon {
	display: flex;
}

.ngl-gutenberg-pop .ngl-submenu-item {
	display: none;
}

.ngl-submenu-item.is-active {
	color: #007cba;
}

.ngl-submenu-item.is-active .ngl-gutenberg-icon {
	display: flex;
}

.ngl-fallback {
	display: none;
	padding: 0 12px 8px 12px;
	font-size: 0.9em;
	cursor: default;
}

.ngl-fallback-title {
	margin: 0 0 3px;
}

.ngl-fallback-input input {
	width: 100%;
}

.ngl-fallback-input input[type=text].is-mandatory {
    border-color: #cc3000;
    box-shadow: 0 0 0 1px #cc3000;
    outline: 2px solid transparent;
}

.ngl-fallback-helper {
    color: #999;
    line-height: 1.4;
    margin: 4px 0 0;
}

.ngl-outside-helper {
	display: none;
	padding: 0 12px;
	font-size: 0.9em;
	color: #999;
	line-height: 1.3;
}