.ngl-form {
	max-width: 400px !important;
	margin-bottom: 30px !important;
	position: relative;
}

.ngl-form h2 {
	font-size: 24px !important;
}

.ngl-form-input-text {
	border: 1px solid #aaa;
	padding: 5px 14px;
	border-radius: 0;
	background: #fff;
	height: 40px;
	width: 100%;
	box-sizing: border-box;
}

.block-editor-writing-flow .ngl-form-input-text {
	line-height: 2;
	color: #aaa;
	font-size: 14px;
}

.ngl-form-field {
	text-align: left !important;
}

.ngl-form-label {
	user-select: none;
}

.ngl-form-button {
    background: #3400FF;
    color: #fff;
    border-radius: 0;
    cursor: pointer;
    outline: 0;
    box-shadow: none;
    border: none;
    padding: 5px 15px;
	min-height: 40px;
	font-size: 16px;
	text-decoration: none !important;
	text-transform: none;
	display: inline-block;
}

.ngl-form.ngl-portrait {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.ngl-form.ngl-portrait .ngl-form-button {
	width: 100%;
	display: block;
}

.ngl-form.ngl-landscape {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px !important;
}

.ngl-form.ngl-landscape .ngl-form-container {
	display: flex;
	align-items: flex-end;
}

.ngl-form.ngl-landscape .ngl-form-field {
	margin-bottom: 0;
	flex: auto;
}

.ngl-form.ngl-landscape .ngl-form-button {
	text-align: center;
	height: 40px;
	min-width: 180px;
}

.ngl-message-overlay {
	opacity: 0;
	transition: opacity 0.25s ease-in-out;
	pointer-events: none;
	visibility: hidden;
	height: 0;
    align-items: center;
	background: #e7ffe5;
	border-radius: 999px;
	border: 2px solid #309427;
	padding: 8px 14px;
	display: inline-flex;
	margin: 25px 0 0;
}

.ngl-message-overlay.ngl-show {
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
	height: auto;
}

.ngl-message-svg-wrap {
	background: #169620;
	width: 32px;
	line-height: 32px;
	height: 32px;
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
	margin: 0 10px 0 0;
}

.ngl-message-overlay-text {
	font-size: 16px;
	display: inline-block;
}