.ngl-articles {
	min-height: 100px;
	margin: 20px 0;
}

.ngl-article img {
	display: block;
	overflow: hidden;
}

.ngl-article {
	font-size: 14px;
	margin: 0 0 30px;
}

.ngl-article-title {
	margin: 0 0 4px;
}

.ngl-article-title a {
	font-size: 18px;
	font-weight: bold;
}

.ngl-article-featured {
	margin: 0 0 14px;
}

.ngl-article-date {
	margin: 8px 0 0;
	font-size: 13px;
	opacity: 0.7;
}

.ngl-articles .components-placeholder.components-placeholder {
	min-height: 100px;
}

.ngl-articles input[type=text] {
	padding: 6px 8px;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow 0.1s linear;
    border-radius: 2px;
    border: 1px solid #757575;
    margin: 0 8px 0 0;
    flex: 1 1 auto;
	font-size: 13px;
    line-height: normal;
}

.ngl-article-tags {
	display: block;
	margin: 0 0 6px;
}

.ngl-article-tag {
	display: inline-block;
    margin: 0 10px 0 0;
    border-radius: 999px;
	font-size: 13px;
	opacity: 0.8;
}

.ngl-articles-add {
	width: 100%;
}

.ngl-articles th,
.ngl-articles td {
	border: none;
	padding: 0;
}

.ngl-articles table {
	border: none;
}

/* Full */
.ngl-articles-full img {
	width: 100%;
	height: auto;
}