.ngl-article-placeholder {
	display: none !important;
}

.ngl-articles {
	margin-top: 20px;
	margin-bottom: 20px;
}

.ngl-article img {
	display: block;
	overflow: hidden;
}

.ngl-article {
	font-size: 14px;
	margin: 0 0 30px;
}

.ngl-article-title {
	margin: 0 0 4px;
}

.ngl-article-title a {
	font-size: 18px;
	font-weight: bold;
	cursor: text !important;
	text-decoration: none !important;
}

.ngl-article-featured {
	margin: 0 0 14px;
}

.ngl-article-date {
	margin: 8px 0 0;
	font-size: 13px;
	opacity: 0.7;
}

.ngl-articles .components-placeholder.components-placeholder {
	min-height: 100px;
}

.ngl-articles input[type=text] {
	padding: 8px;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow 0.1s linear;
    border-radius: 2px;
    border: 1px solid #757575;
    margin: 0;
	font-size: 13px;
    line-height: normal;
	width: 100%;
	box-sizing: border-box;
}

.ngl-article-tags {
	display: block;
	margin: 0 0 6px;
}

.ngl-article-tag {
	display: inline-block;
    margin: 0 10px 0 0;
    border-radius: 999px;
	font-size: 13px;
	opacity: 0.8;
}

.ngl-articles-add {
	width: 100%;
}

.ngl-articles th,
.ngl-articles td {
	border: none;
	padding: 0;
}

.ngl-articles table {
	border: none;
}

.ngl-articles-full img {
	width: 100%;
	height: auto;
}

.ngl-article-left { display: inline-block; width: 49%; vertical-align: top; }
.ngl-article-right { display: inline-block; width: 48%; vertical-align: top; margin-left: 2%; }

.ngl-articles-30_70 .ngl-article-left { display: inline-block; width: 30%; vertical-align: top; }
.ngl-articles-30_70 .ngl-article-right { display: inline-block; width: 66%; vertical-align: top; }

.ngl-articles-70_30 .ngl-article-left { display: inline-block; width: 66%; vertical-align: top; }
.ngl-articles-70_30 .ngl-article-right { display: inline-block; width: 30%; vertical-align: top; }

.ngl-article-error {
	font-size: 12px;
	margin: 8px 0 0;
	display: block;
	color: #b30b0b;
}

.ngl-article-box {
	flex: 1 1 auto;
	margin: 0 10px 0 0;
	position: relative;
}

ul.ngl-article-suggest {
	position: absolute;
    max-height: 200px;
	overflow: auto;
    top: 35px;
    left: 0;
    border: 1px solid #757575;
	border-top: 0;
    background: #fff;
    z-index: 9999;
    width: 100%;
	margin: 0 !important;
	padding: 0 !important;
	display: none;
}

ul.ngl-article-suggest li {
	list-style-type: none !important;
}

ul.ngl-article-suggest a {
	display: block;
	color: #666 !important;
	box-shadow: none !important;
	border: none;
	text-decoration: none !important;
	padding: 6px 10px;
	font-family: "Segoe UI";
	font-size: 13px;
	cursor: pointer;
}

ul.ngl-article-suggest a:hover {
	background: #f6f6f6;
}