.ngl-article-placeholder {
	display: none !important;
}

.ngl-articles {
	margin-top: 20px;
	margin-bottom: 20px;
}

.ngl-article img {
	display: block;
	overflow: hidden;
}

.ngl-article {
	margin: 0 0 30px;
}

.ngl-article-title {
	margin: 0 0 8px;
	line-height: 1.4;
}

.ngl-article-title a {
	font-weight: bold;
	cursor: text !important;
	text-decoration: none !important;
}

.ngl-article-featured {
	margin: 0 0 14px;
}

.ngl-article-featured a {
	display: block;
}

.ngl-article-date {
	margin: 8px 0 0;
	font-size: 13px;
	opacity: 0.7;
}

.ngl-articles .components-placeholder.components-placeholder {
	min-height: 100px;
}

.ngl-articles input[type=text] {
	padding: 8px;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow 0.1s linear;
    border-radius: 2px;
    border: 1px solid #757575;
    margin: 0;
	font-size: 13px;
    line-height: normal;
	width: 100%;
	box-sizing: border-box;
}

.ngl-article-tags {
	display: block;
	margin: 0 0 6px;
}

.ngl-article-tag {
	display: inline-block;
    margin: 0 10px 0 0;
    border-radius: 999px;
	font-size: 13px;
	opacity: 0.8;
}

.ngl-articles-add {
	width: 100%;
}

.ngl-articles th,
.ngl-articles td {
	border: none;
	padding: 0;
}

.ngl-articles table {
	border: none;
}

.ngl-articles-full img {
	width: 100%;
	height: auto;
}

.ngl-article-left { display: inline-block; width: 49.5%; vertical-align: top; box-sizing: border-box; }
.ngl-article-right { display: inline-block; width: 49.5%; vertical-align: top; padding-left: 20px; box-sizing: border-box; }

.ngl-articles-30_70 .ngl-article-left { display: inline-block; width: 30%; vertical-align: top; }
.ngl-articles-30_70 .ngl-article-right { display: inline-block; width: 69%; vertical-align: top; }

.ngl-articles-70_30 .ngl-article-left { display: inline-block; width: 69%; vertical-align: top; }
.ngl-articles-70_30 .ngl-article-right { display: inline-block; width: 30%; vertical-align: top; }

.ngl-article-right .ngl-article-featured { margin: 0; }
.ngl-article-left .ngl-article-featured { margin: 0; }

.ngl-article-left-mobile {
	display: none !important;
}

@media only screen and (max-width:596px) {

	.ngl-article-left-mobile {
		display: block !important;
	}

	.ngl-article-left,
	.ngl-article-right {
		width: 100% !important;
		margin: 0 !important;
	}

	.ngl-article-img-right .ngl-article-right {
		display: none !important;
	}

}

.ngl-article-box {
	flex: 1 1 auto;
	margin: 0 10px 0 0;
	position: relative;
}

ul.ngl-article-suggest {
	position: absolute;
    max-height: 200px;
	overflow: auto;
    top: 35px;
    left: 0;
    border: 1px solid #757575;
	border-top: 0;
    background: #fff;
    z-index: 9999;
    width: 100%;
	margin: 0 !important;
	padding: 0 !important;
	display: none;
}

ul.ngl-article-suggest li {
	list-style-type: none !important;
}

ul.ngl-article-suggest a {
	display: block;
	color: #666 !important;
	box-shadow: none !important;
	border: none;
	text-decoration: none !important;
	padding: 6px 10px;
	font-family: "Segoe UI";
	font-size: 13px;
	cursor: pointer;
}

ul.ngl-article-suggest a:hover {
	background: #f6f6f6;
}

.ngl-article-status {
	display: block;
	width: 100%;
	min-height: 25px;
	opacity: 0;
	transition: opacity .2s linear;
	font-weight: 500;
}

.ngl-article-error {
	color: #b30b0b;
	opacity: 1;
}

.ngl-article-success {
	color: #007cba;
	opacity: 1;
}

.ngl-article-list {
	font-size: 13px;
	padding: 15px 0 0;
}

.ngl-article-list-head {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: #444 !important;
	text-decoration: none !important;
	box-shadow: none !important;
}

.ngl-article-list-head span {
	font-size: 28px;
}

.ngl-article-list-empty {
	font-size: 15px;
	margin: 4px 0 0;
	opacity: 0.6;
}

.ngl-article-list-item {
	display: flex;
	padding: 10px 0 0;
}

.ngl-article-list-item:hover .ngl-article-list-action,
.ngl-article-list-item:focus .ngl-article-list-action {
	opacity: 1;
}

.ngl-article-list-icon {
	width: 32px;
	min-width: 32px;
	margin: 0 15px 0 0;
}

.ngl-article-list-icon img {
	margin: 4px 0 0;
	border-radius: 999px;
}

.ngl-article-list-info {
	margin-right: 32px;
}

.ngl-article-list-title {
	line-height: 1.4;
	font-weight: 500;
	color: #333;
}

.ngl-article-list-url {
	color: #999;
	line-height: 1.4;
	margin: 3px 0 0;
}

.ngl-article-list-action {
	padding: 6px 0 0;
	font-size: 12px;
	opacity: 0;
}

.ngl-article-list-red {
	color: #ff0000 !important;
	box-shadow: none !important;
	font-weight: 500;
	margin: 0 20px 0 0;
}

.ngl-article-list-refresh {
	color: #666 !important;
	text-decoration: none !important;
	box-shadow: none !important;
	display: inline-flex;
}

.ngl-article-list-refresh i.icon {
	display: block;
	width: 20px;
	height: 20px;
}

.ngl-in-progress {
	opacity: 0.5;
	pointer-events: none;
}

.ngl-in-progress i.icon {
	-webkit-animation: spin1 1.5s infinite linear;
	-moz-animation: spin1 1.5s infinite linear;
	-o-animation: spin1 1.5s infinite linear;
	-ms-animation: spin1 1.5s infinite linear;
	animation: spin1 1.5s infinite linear;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.ngl-article-list-move {
	border: 1px solid #ddd;
	align-self: end;
	margin-left: auto;
}

.ngl-article-list-move a {
	color: #666;
}

.ngl-article-list-move a,
.ngl-article-list-move span {
	display: block;
    height: 24px;
    width: 24px;
	overflow: hidden;
}

.ngl-article-list-wrap .ngl-article-list-item:first-child .ngl-article-list-move-up a,
.ngl-article-list-wrap .ngl-article-list-item:last-child .ngl-article-list-move-down a {
	opacity: 0.3;
	pointer-events: none;
}